<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg" type="image/x-icon' %}">

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active ps">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/">Data Analysis</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="/category" class="sidebar-link">
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>Category</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="/variable" class="sidebar-link">
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Variable</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="/makecsv" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Make csv</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 969px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 568px;"></div></div></div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <h3>Data Analysis</h3>
                    </div>
                    <div class="col-12 col-md-5", style="text-align: right;">
                        <h5>{{nodata}}</h5>
                    </div>
                    <div class="col-12 col-md-5 px-0", style="text-align: right;">
                        <div class="row">
                            <div class="col-lg-9">
                            <!-- 파일 upload 받기 -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="inputfile" accept=".csv" value={{ inputfile }}>
                                <button class="btn btn-primary">제출</button>
                            </form>
                            <!-- 파일 upload 받기 끝 -->
                            </div>
                            <div class="col-lg-3">
                            <!-- 초기화 버튼 -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="clearAll" value="clearAll">
                                <button class="btn btn-primary">초기화</button>
                            </form>
                            <!-- 초기화 버튼 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>Row 개수</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>{{rownum}}개</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>Column 개수</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>{{columnnum}}개</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>파일 크기</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>{{filesize}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card info_box">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>Category</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>범주라고 예상 되는 컬럼들의 집합</h5><h7> - 히스토그램으로 확인 가능</h7>
                                </div>
                                <br>
                                <div class="col-sm-12">
                                    <h5>선택한 예상 범주가 어떤 변수에 의해 영향을 많이 받는지 확인 가능</h5><h7> - 꺽은선 그래프, 막대형 그래프로 확인 가능</h7>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card info_box">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>Variable</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>문자열이 포함되지 않은 컬럼들의 집합</h5><h7> - 꺾은선 그래프로 확인 가능</h7>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card info_box">
                            <div class="card-header row mx-0">
                                <div class="card-header col-lg-7 mx-0 px-3">
                                    <h4>Make csv</h4>
                                </div>
                            </div>
                            <div class="card-body row mx-1">
                                <div class="col-sm-12">
                                    <h5>전체 컬럼 중 원하는 컬럼만 선택한 뒤 csv 파일로 다운 가능</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>