<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg" type="image/x-icon' %}">

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active ps">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/">Data Analysis</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="/category" class="sidebar-link">
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>Category</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="/variable" class="sidebar-link">
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Variable</span>
                            </a>
                        </li>

                        <li class="sidebar-item  active">
                            <a href="/makecsv" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Make csv</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 969px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 568px;"></div></div></div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <h3>Data Analysis</h3>
                    </div>
                    <div class="col-12 col-md-5", style="text-align: right;">
                        <h5>{{nodata}}</h5>
                    </div>
                    <div class="col-12 col-md-5 px-0", style="text-align: right;">
                        <div class="row">
                            <div class="col-lg-9">
                            <!-- 파일 upload 받기 -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="inputfile" accept=".csv" value={{ inputfile }}>
                                <button class="btn btn-primary">제출</button>
                            </form>
                            <!-- 파일 upload 받기 끝 -->
                            </div>
                            <div class="col-lg-3">
                            <!-- 초기화 버튼 -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="clearAll" value="clearAll">
                                <button class="btn btn-primary">초기화</button>
                            </form>
                            <!-- 초기화 버튼 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 컬럼 리스트 보여주며 데이터 프레임 다운로드 버튼 생성 -->
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card select_box" style="overflow:auto;">
                            <form action="" method="post">
                                <div class="row px-3 py-2 mx-2">
                                    <div class="card-header col-lg-8 mx-0">
                                        <h4>컬럼 리스트</h4>
                                    </div>
                                    <div class="card-body col-lg-4 py-3" style="text-align: right;">
                                        <button class="btn btn-primary">데이터프레임 생성</button>
                                    </div>
                                </div>
                                <div class="card-content pb-4">
                                    <div class="row mx-4">
                                        {% csrf_token %}
                                        {% for ind in index %}
                                            <div class="col-12 col-lg-1 cat_radio_btn py-2">
                                                <input id="selected_index" type="checkbox" name="selected_index" value={{ind}}>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2">
                                                {{ind}}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card select_box"  style="overflow:auto;">
                            <div class="row px-3 py-2 mx-2">
                                <div class="card-header col-lg-8 mx-0 px-3">
                                    <h4>선택한 컬럼</h4>
                                </div>
                                <div class="card-body col-lg-4 py-3" style="text-align: right;">
                                    {% if download_btn %}
                                        <a href="/download/" download>
                                            <button class="btn btn-primary">{{download_btn}}</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body pb-4 mx-4 row">
                                {% for sel_ind in selectMatch_index %}
                                    <div class="col-12 col-lg-4 py-2">
                                        {{sel_ind}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- 컬럼 리스트 보여주며 데이터 프레임 다운로드 버튼 생성 끝-->
            
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>