{% extends 'base.html' %}
{% block content %}

    <!-- 파일 upload 받기 -->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="filebox"> 
            <input class="upload-name" value="파일선택" disabled="disabled"> 
            <label for="ex_filename">업로드</label> 
            <input type="file" name="inputfile" accept=".csv" value={{ inputfile }}>
        </div>

        {% comment %} <input type="file" name="inputfile" accept=".csv" value={{ inputfile }}>
        <input type="submit"> {% endcomment %}
    </form>
    <!-- 파일 upload 받기 끝 -->

    <br>

    <!-- 파이 차트 그리기 -->
    <!-- FusionCharts will render here-->
    <div id="chart-1"></div>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}

    {% comment %} <!-- chart.js로 그리기 -->
    <div id="container" style="width: 75%;">
      <canvas id="train-pie-chart"></canvas>
    </div>
    <!-- 파이 차트 그리기 끝 --> {% endcomment %}
    
    <br>

    <!-- tarin % 비율 정하기-->
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label> train: </label>
            <input id = "sel_val" type="range" name="sel_val" min="0" max="1.0" step="0.01" value={{ sel_val }} oninput="document.getElementById('value1').innerHTML=this.value;">
            <span id="value1">{{ sel_val }}</span>
            <input type = "submit" value = "확인" />
        </div>
    </form>
    <!-- train % 비율 정하기 끝-->
    
    <br>

    <!-- 컬럼 선택창 -->
    <form action="" method="post">
        {% csrf_token %}
        {% for i in index %}
            <input id="selected_index" type="checkbox" name="selected_index" value={{i}}>{{i}}
        {% endfor %}
        <br>
        <button class="btn btn-primary">데이터프레임 만들기</button>
    </form>
    <!-- 컬럼 선택창 끝 -->

    <br>

    <!-- 선택한 컬럼 표현 -->
    {{selectMatch_index}}
    <!-- 선택한 컬럼 표현 끝 -->

    <br>

    <!-- 범주 선택창 -->
    <h3>범주로 판단되는 것은 아래 버튼에 해당되는 것 입니다.</h3>
    <form action="" method="post">
        {% csrf_token %}
        {% for i in category %}
            <input id="selected_category" type="radio" name="selected_category" value={{i}}>{{i}}
        {% endfor %}
        <br>
        <button class="btn btn-primary">선택</button>
    </form>
    <!-- 범주 선택창 끝 -->

    <!-- train 차트 그리기 -->
    {% comment %} <div id="container" style="width: 75%;">
      <canvas id="train-pie-chart"></canvas>
    </div> {% endcomment %}
    <script>
      var train_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ selected_train_data|safe }},
            backgroundColor: ['rgb(67, 94, 190)', 'rgb(85, 198, 232)']
          }],
          labels: {{ selected_train_label|safe }}
        },
        options: {
          responsive: true
        }
      };

      window.onload = function() {
        var train_ctx = document.getElementById('train-pie-chart').getContext('2d');
        window.myPie = new Chart(train_ctx, train_config);
      };
    </script>
    <!-- train 차트 그리기 끝 -->


    <!-- 범주형 차트 그리기 -->
    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>
    <script>
        var config1 = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ selected_category_data|safe }},
              backgroundColor: ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)']
            }],
            labels: {{ selected_category_label|safe }}
          },
          options: {
            responsive: true
          }
        };
    
          var ctx = document.getElementById('pie-chart').getContext('2d');
          var myPie = new Chart(ctx, config1);

    </script>
    <!-- 범주형 차트 그리기 끝 -->
    
{% endblock %}